<?xml version="1.0" ?>

<launch>
    <arg name="joy_dev" default="/dev/input/js0"/>
    <arg name="teleop_config" default="$(find rl_controllers)/config/joy.yaml"/>
    <arg name="joy_heartbeat_timeout" default="0.3"/>

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)"/>
        <param name="deadzone" value="1e-3"/>
        <param name="autorepeat_rate" value="10"/>
        <param name="coalesce_interval" value="0.05"/>
    </node>

    <rosparam file="$(arg teleop_config)" command="load"/>
    <node pkg="rl_controllers" type="joy_teleop_node.py" name="joy_teleop" output="screen">
    </node>

    <node pkg="rl_controllers" type="joy_connection_monitor.py"
          name="joy_connection_monitor" output="screen" respawn="true">
        <param name="device" value="$(arg joy_dev)"/>
        <param name="heartbeat_timeout" value="$(arg joy_heartbeat_timeout)"/>
        <param name="check_rate" value="20.0"/>
    </node>

</launch>
