# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files

.git
**/.vscode/
**/.history/
.catkin_tools
.codex
.agents
*.zip
*.tar.gz
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.egg-info/
*.egg
*.pyc
__pycache__/
*.pyo
*.pyd
*.bag
*.csv

# Ignore ROS build artifacts
build/
devel/
logs/